* {
    font-family: "Roboto", sans-serif;
}

.hero-container {
    background-color: #1F2937;
    height: 530px; 
    width: 100vw;
}

.carousel {
    background-color: #f9faf8;
    height: 470px; 
    width: 100vw;
}

.quote {
    background-color: #e5e7eb;
    height: 55vh; 
    width: 100vw; 
    display: flex;
    align-items: center;
}

.sign-up {
    background-color: #f9faf8;
    height: 45vh; 
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright {
    background-color: #1F2937;
    height: 12vh; 
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #e5e7eb;
}

.menu-bar {
    font-size: 19px;
    color: #e5e7eb;
    font-weight: 400;
    display: flex;
    gap: 20px;
    opacity: 80%;
}
 
.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 12em 0 12em;
}

.hero-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    display: flex;
    flex-wrap: wrap;
    width: 10em;
    margin: 0;
}

.placeholder {
    background-color: rgb(154, 154, 159);
    height: 14em;
    width: 30em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
    font-size: 18px;
    opacity: 70%;
}

.hero-content {    
    display: flex;
    justify-content: space-between;
    margin: 6em 12em 6em 12em;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.subheader {
    display: flex;
    flex-wrap: wrap;
    width: 25em;
    opacity: 80%;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color:#F9FAF8;
    height: 35px;
    width: 140px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.button-two {
    outline: solid;
    outline-color: #e5e7eb; 
    border-radius: 6px;
    outline-width: 2px;
}

.carousel-header {
    color:#1F2937;
    font-size: 36px;
    display: flex;
    justify-content: center;
    margin-top: 42px;
    font-weight: 900;
    margin-bottom: 42px;
}

.carousel-content {
    margin: 0 18em 0 18em;
    display: flex;
    flex-direction: column;
}

.box {
    height: 170px;
    width: 170px;
    outline: solid;
    outline-color: #3882f6; 
    border-radius: 15px;
    outline-width: 4px;
    margin-bottom: 12px;
}

.carousel-boxes {
    display: flex;
    justify-content: space-between;
}

.carousel-text {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 42px;
    font-size: 18px;
    color:#1F2937;
    opacity: 80%;
}

.box-text {
    display: flex;
    flex-wrap: wrap;
}

.quote-text {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    margin: 0 9em 0 9em;
}

.thor {
    font-size: 25px;
    font-weight: 700;
    margin-right: 32px;
    font-style: normal;
}

.call-to-action {
    background-color: #3882f6;
    height: 160px;
    width: 65em;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.action-text {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    color: #e5e7eb;
    font-weight: 600;
    gap: 3px;
}

.action-subtext {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 300;
}